<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
       default-lazy-init="true">

    <import resource="applicationContext-ibatis.xml"/>
    <import resource="../../com/goo/abc/spring-abc.xml"/>
    <import resource="../../com/goo/data/spring-data.xml"/>
    <import resource="../../com/goo/product/spring-product.xml"/>
    <import resource="../../com/goo/user/spring-user.xml"/>
    <import resource="../../com/goo/contact/spring-contact.xml"/>
</beans>